GPATH
GRTAGS
**/.ipynb_checkpoints/
**/__pycache__/
**/save_test.cube
**/.vscode/
**/profile_out.csv
**/*-checkpoint.ipynb
**/*.stackdump
**/*.pyc
**/*.spec
**/.python-version
**/_build/*
**/_static/*
**/_templates/*
**/*.mp4
**/__pycache__
**/staticfiles
**/local_settings.py
**/db.sqlite3
**/*.py[co]
output/*.tiff
output/*.csv